### Type casting

In [1]:
a = 10

In [2]:
int()

0

In [3]:
int(123)

123

In [5]:
int("Madhan") #strig can be typecasted if its typed in the same data like (number for int)

ValueError: invalid literal for int() with base 10: 'Madhan'

### Print

In [6]:
print(123)

123

In [8]:
print("abcd")

abcd

In [9]:
age = 24 
print("my age is", age)

my age is 24

In [10]:
print("my age is: {age}")

my age is: {age}

In [13]:
# f string
print(f"my age is: {age}") # adding f at beginning makes {} take valur from variable

my age is: 24

### Format

In [15]:
age = 24
name = "madhan"
print("my name is {} and my age is {}".format(name,age))

my name is madhan and my age is 24

In [16]:
print("My name is {} and age is {}".format(age,name))

My name is 24 and age is madhan

In [18]:
# placeholder
print("my name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

my name is madhan and age is 24

In [19]:
# using placeholfer will not effect the order of data 
print("my name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

my name is madhan and age is 24

## Practice

In [20]:
name = "Madhan"
age = 24
degree = "Bcom"

In [21]:
# F string 
print(f"My age is {age} and i have completed degree {degree} on the name of {name}")

My age is 24 and i have completed degree Bcom on the name of Madhan

In [23]:
# placeholder way
print("my age is {} and i have completed degree {} on the name of {}".format(age,degree,name))

my age is 24 and i have completed degree Bcom on the name of Madhan

### control Flow Statements
### Decision making statements

In [26]:
# IF statements

age = 18
if age >= 18: # it is comparision base like "==", "<=", ">="
    print("Your are eligible to vote")

Your are eligible to vote

### Tasks to pratice

In [27]:
age = int(input("Enter your age"))
if age>=18 and age<=45:
    print("you are young blood")

Enter your age 24

you are young blood

In [28]:
# IF else statements

In [29]:
age=int(input("enter your age"))
if age>=18 and age<+45:
    print("you are young blood")
else:
    print("Thank you your application is rejected")

enter your age 55

Thank you your application is rejected

In [30]:
# TASKS

In [37]:
# This is written by me
price = int(input("Enter the price of the prodcut"))
if price > 1000:
    n = price - (price * 0.20)
    print("Dicount is 20% off")
    print("Price after Discount is:",n)
elif price <= 1000:
    p = price - (price * 0.30)
    print("Discount is 30% off")
    print("Price after Discount is:",p)

Enter the price of the prodcut 1000

Discount is 30% off
Price after Discount is: 700.0

In [40]:
# Code writen by krish naik
product_price = int(input("Enter the price of the product"))
if product_price>1000:
    print("Price of the product after discount is {}".format(product_price*0.8))
else:
    print("Price of the product after discount is {}".format(product_price*0.7))

Enter the price of the product 1000

Price of the product after discount is 700.0

In [42]:
# same example code but with  f string
product_price = int(input("Enter the price of the product"))
if product_price>1000:
    print(f"Price of the product after discount is {product_price*0.8}")
else:
    print(f"Price of the product after discount is {product_price*0.7}")

Enter the price of the product 1000

Price of the product after discount is 700.0

In [43]:
# Example 2 ( showing elif and nested if )

In [ ]:
## mall input product price
## product >3000 20% off
## product == 4000 you get a trip to goa
## print product price after removing hte discount
## product is >= 2000 rs and <=3000 rs then 30% off
## Print the PRodcut after removing the price
## price ==2999 you get additional gift
## product 100 and <=2000 40% off
## print prodcut price after removing discount

In [50]:
product_price = int(input("Enter the price of the product"))
if product_price>1000:
    if product_price==4000:
        print("congratulation you get a goa trip")
    print(f"Price after Discount is {product_price*0.8}")
elif product_price >= 2000 and product_price <=3000:
    if  product_price == 2999:
        print("you get an additional discount")
    print(f"Price after Discount is {product_price*0.7}")
elif product_price >= 100 and product_price<= 2000:
    print(f"Price after dicount is {product_price*0.6}")
else:
    print("lets drink tea")
    print("i will also be there")

Enter the price of the product 50

lets drink tea
i will also be there

In [51]:
## Single Statement suites

In [52]:
val=int(input("Enter a number"))
if (val<=999): print("Number is less than or equal to 999")
else:
    print("Go home")

Enter a number 500

Number is less than or equal to 999

### Loop Statemnets
#### FOr loop, While loop, Nested Loop, Loop controls (break,continue,pass)

In [3]:
## While loop
i = 25
while i <= 60:
    i = i+1
    print(i)
print("out of loop",i)

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
out of loop 61

## For Loop

In [4]:
l = [1,2,3,4, "Apple","Banana", "Madhan"]

In [6]:
for x in l:   ## for is for iterating through items in list
    print(x)

1
2
3
4
Apple
Banana
Madhan

In [7]:
fruits = "MANGO"

In [8]:
fruits[2]

'N'

### Nested loops

In [7]:
## range
for g in range(1,20,3):
    print(g)

1
4
7
10
13
16
19

In [16]:
## nested loops 

n = 7 

for i in range(0,n):
    for j in range(0,i+1):
        print("*", end="")
    print("")

*
**
***
****
*****
******
*******

In [ ]:
## Loops Control Break and Continue 

# break will stop the loop
## Continue will skill only one step after its written